extends layout


block content
  h1=title
  p Find information about recent vulnerabilities
  h2= "Select a timeframe"
  p Find vulnerabilities for the previous _ days

    form(name="input days", method="get")
      select#daysAgo(name='days')
        option(value='1') 1 Day
        option(value='2') 2 Days
        option(value='7') 7 Days
      button(type='submit') Submit

  h1= title2
  p Find information about a file
  h2= "Here you can check a file's fingerprint and find out information"
  form(name="add-estimation", method="post")
        div.input
            span.label Hash
            input(type="text", name="file hash")
          |  
        div.actions
            button2(type='search') Search

