extends layout

block content
  p Here's some info regarding the search for:
  p=searchedFor
  ul
    p The CVE-IDs involved are:
    each id in cveIDs
        p #{id}
    p Here are some key phrases:
    each val in sometext
        p #{val.keyPhrases}
  div.homebutton
    a(href = '/') 
      button Return Home