extends layout


block content

  p Here's some info regarding the search for
  p=searchedFor
  ul
    each val in sometext
        p Here are some key phrases
        p #{val.keyPhrases}
          each phrase in val.keyPhrases
            span=phrase
  div.homebutton
    a(href = '/') 
      button Return Home