extends layout


block content
  h1= searchedFor
  p Here's some info
  ul
    each val in sometext
        p Hello worldd
        p #{JSON.stringify(val)}
            if val.list
                each item in val
                    p #{item}