extends layout


block content
  h1="Here is the full description"
  p Finger crossed
  ul
    each val in sometext
        p Hello worldd
        p #{JSON.stringify(val)}
            if val.list
                each item in val
                    p #{item}
