body {
  background-color: powderblue;
  padding: 75px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
  background: rgb(212, 230, 233);
  border: 0.5rem solid black;
  padding: 0;
  color: rgb(55, 0, 255);
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
}

button:hover {
  text-decoration: underline;
}

button2 {
  background: rgb(212, 230, 233);
  border: 0.5rem solid black;
  padding: 0;
  color: rgb(55, 0, 255);
  cursor: pointer;
  font-size: 20px;
  margin-left: 20px;
}
