body {
  background-color: rgb(161, 241, 168);
  padding: 75px;
  font: 14px "Lucida Grande", Segoe UI, Segoe UI, Segoe UI;
}

a {
  color: #00B7FF;
}

button {
  background: rgb(39, 57, 221);
  border: 2px, rgb(97, 224, 103);
  padding: 20;
  text-align: center;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  margin-left: 20px;
  border-radius: 6px;
}

.inputHash {
  width: 500px;
}