body {
  background-color: powderblue;
  padding: 75px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
  background: none;
  border: none;
  padding: 0;
  color: red;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  text-decoration: underline;
}

